#more-info {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  margin: 1rem 0;
  transition: background-color 800ms ease-out;
  padding: 0.5rem;
  background-color: #eee;
}

#more-info.highlighted {
  background-color: #e4f6ff;
}

.nifti-image-container {
  position: relative;
  width: 350px;
  height: 350px;
  border: 1px solid #6c757d;
  color: white;
  margin: 10px 10px 2rem;
}

.display-metadata {
  position: absolute;
  right: 0rem;
  bottom: -1rem;
  transform: scale(0.75);
}

.nifti-image-container > div[id^="nifti-image-"] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex: 1;
}


#image-and-data-info {
  display: flex;
  flex-wrap: wrap;
}

#nifti-image-data {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

#main-header {
  margin-top: 2rem;
}

.metadata {
  margin-right: 1.5rem;
}
